.header {
  margin-top: 20px; 
}

.footer {
    margin-bottom: 40px;
}

.top {
    margin-top: 20px;
}

.filter {
    text-align: center;
}

.menu-item {
    margin-bottom: 10px
}

.lead {
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #00E2CD;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}

.action {
    font-size: 28px;
    line-height: 38px;
}

.action a {
    text-decoration: none;
}

.action a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.sustainability {
    color: #CCCC33;
}
.studio {
    color: #ff9966;
}
.arts-education {
    color: #ffcc33;
}
.bright-future {
    color: #ff574a;
}
.healthcare {
    color: #3366cc;
}
.legal {
    color: #ff66ff;
}
.urban-planning {
    color: #cc0066;
}