.header {
  margin-top: 20px;
}

.footer {
    margin-bottom: 40px;
}

.top {
    margin-top: 20px;
}

.filter {
    text-align: center;
}

.menu-item {
    margin-bottom: 10px
}

.lead {
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #00E2CD;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}

.action {
    font-size: 28px;
    line-height: 38px;
}

.action-item {
    text-decoration: none;
}

.action-item:hover {
    cursor: pointer;
}

.pop-up {
  display: block;
  position: absolute;
  top: 120px;
  right: 33%;
  display: none;
}

.pop-up-image {
  position: relative;
}

.pop-up-text {
  font-family: "brandon-grotesque", sans-serif;
  position: absolute;
  color: white;
  top: 20%;
  text-align: center;
  margin: auto 20%;
}

.highlight {
  color: #002ff7;
}

.bold {
    font-weight: 700;
}

.sustainability {
    color: #CCCC33;
}
.sustainability span {
  background: #cccc33;
}
.studio {
    color: #ff9966;
}
.studio span {
  background: #ff9966;
}
.arts-education {
    color: #ffcc33;
}
.arts-education span {
  background: #ffcc33;
}
.bright-future {
    color: #ff574a;
}
.bright-future span {
  background: #ff574a;
}
.healthcare {
    color: #3366cc;
}
.healthcare span {
  background: #3366cc;
}
.legal {
    color: #ff66ff;
}
.legal span {
  background: #ff66ff;
}
.urban-planning {
    color: #cc0066;
}
.urban-planning span {
  background: #cc0066;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:380px;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  font-size: 12px;
  font-family: "brandon-grotesque",sans-serif;
}
a:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.opaque {
  opacity: 0.3;
}

.rain {
  position: relative;
  width: 100%;
  height: 200px;
}

.flag {
  position: absolute;
  top: 49px;
  right: 2px;
}

.lever {
  position:absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: -webkit-transform .5s , z-index 0s 0.25s;
}

.lever {
  z-index: -1;
  -webkit-transition: -webkit-transform .5s, z-index 0s 0.25s;
  -webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  -webkit-transform: perspective(0);
}

.rotator  .lever{
  top: 14px;
  -webkit-transform: rotateX(180deg) rotateZ(0deg) rotateY(0deg);
  -webkit-transition: -webkit-transform .5s, z-index 0s 0.25s;;
  z-index: -2;
}
